<div class="master">
  <div class="card__container">
    <div class="card__label">
      <div class="label">
        <!-- Title -->
        <h1 class="card__label__style">Get <span class="card__label__span">insights </span>that help your business grow.</h1>
        <!-- Description -->
        <div class="card__label__description">
          <h5 class="card__description">Discover the benefits of data analytics and make better decisions regarding reveue, customer experience, and overall efficiency.</h5>
        </div>
        <!-- Items -->
        <div class="items__container">
          <div class="item__container">
            <span class="item__label">10k+</span>
            <span class="item__label__description">Companies</span>
          </div>
          <div class="item__container">
            <span class="item__label">314</span>
           <span class="item__label__description">Templates</span>
          </div>
          <div class="item__container">
            <span class="item__label">12M+</span>
            <span class="item__label__description">Queries</span>
          </div>
        </div>
      </div>
    </div>
    <div class="card__image"><div class="opacity__violet"></div></div>
  </div>
</div>
